<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body class="bg-main">
  <%- include('partials/header') %>
  <div class="flex flex-col justify-center items-center gap-8 p-8 w-full">
    <div class="flex flex-row flex-wrap justify-center items-center gap-4 w-full">
      <h2 class="border-2 bg-secondary p-4 border-text border-solid rounded-md text-2xl">Topic: <%= exam.topic %></h2>
      <h2 class="border-2 bg-secondary p-4 border-text border-solid rounded-md text-2xl">Type: <%= exam.type %></h2>
      <h2 class="border-2 bg-secondary p-4 border-text border-solid rounded-md text-2xl">Number of Questions: <%= exam.numberOfQuestions %></h2>
      <h2 class="border-2 bg-secondary p-4 border-text border-solid rounded-md text-2xl">Duration: <%= exam.duration %></h2>
      <form action="<%= exam.url %>/delete" method="POST" >
        <button type="submit" class="bg-red hover:bg-rose-900 p-4 rounded-md w-full font-bold text-2xl text-white hover:text-gray-200">Delete</button>
      </form>
    </div>
    
    <div class="flex flex-col gap-4 p-8 questions">

      <% if(exam.type === 'mcq') { %>
      <% exam.mcqQuestions.forEach((question, index) => { %>
        <div class="flex flex-col justify-center gap-4 border-2 bg-secondary shadow-md p-4 border-text border-solid rounded-lg">
          <h2 class="text-2xl"><%= index+1 %>.<%= question.question %></h2>
          <div class="bg-main p-2 rounded-lg text-xl choices">
            <% question.choices.forEach((choice, idx) => { %>
              <% if(idx === question.answer) { %>
                <p class="bg-green p-1 rounded-md text-white"><%= idx+1%>. <%= choice %></p>
              <% } else { %>
                <p class="p-1"><%= idx+1%>. <%= choice %></p>
              <% } %>
            <% }) %>
          </div>
        </div>
      <% }) %>
      <% } else {%>
      <% exam.essayQuestions.forEach((question, index) => { %>
        <div class="flex flex-col justify-center gap-4 border-2 bg-secondary shadow-md p-4 border-text border-solid rounded-lg">
          <h2 class="text-2xl"><%= index+1 %>.<%= question.question %></h2>
          <h2 class="bg-main p-2 rounded-lg text-xl"><%= question.answer %></h2>
        </div>
      <% }) %>
      <% } %>
    </div>

    <div class="flex flex-row flex-wrap justify-center items-center gap-4 w-full">
      <h2 class="border-2 bg-secondary p-4 border-text border-solid rounded-md text-2xl">Enrolled Students: <%= submitions.length %></h2>
      <div class="flex flex-row flex-wrap justify-center items-center content-center gap-8 px-6 lg:px-8 py-12 w-full min-h-full">
        <% submitions.forEach(submition => { %>
          <div class="flex flex-col justify-center items-center content-center gap-2 border-4 bg-secondary hover:shadow-2xl px-6 lg:px-8 py-12 border-text border-solid rounded-xl w-96 min-h-full hover:cursor-pointer">
            <img src="<%= submition.student.avatar %>" alt="" class="rounded-xl w-40 h-40">
            <h2 class="text-2xl name">Name: <%= submition.student.fullName %></h2>
            <% if(submition.score != null) { %>
            <h2 class="text-2xl name">Score: <%= submition.score %> %</h2>
            <a href="<%= submition.url %>" class="bg-black p-4 rounded-3xl w-full font-bold text-3xl text-center text-white hover:text-gray-200">View Submition!</a>
            <% } else { %>
            <a href="<%= '/oralexam/' + submition._id %>" class="bg-black p-4 rounded-3xl w-full font-bold text-3xl text-center text-white hover:text-gray-200">Needs Correction</a>
            <% } %>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
</body>

</html>