<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body class="bg-main">
    <%- include('partials/header') %>
    <div class="flex flex-col justify-center bg-main px-6 lg:px-8 py-12 min-h-full">
        <h2 class="mt-10 font-bold text-4xl text-center text-gray-900 leading-9 tracking-tight"><%= exam.topic %></h2>
        <div class="mt-10 font-bold text-4xl text-center text-gray-900 leading-9 tracking-tight" id="duration"><%= availableTime %></div>
        <div class="flex flex-col gap-4 p-8">
            <form method="POST" class="flex flex-col justify-center gap-4 exam-form">
                <% if(exam.type == "mcq") { %>
                    <% exam.mcqQuestions.forEach((question, idx) => { %>
                        <fieldset class="flex flex-col justify-center gap-4 border-2 bg-secondary shadow-md p-4 border-text border-solid rounded-lg">
                            <label for="question" class="text-2xl"><%= idx + 1 %>. <%= question.question %></label>
                            <% question.choices.forEach((choice, index) => { %>
                                <div class="flex flex-row items-center gap-4 border-2 bg-main p-2 border-text border-solid rounded-lg text-xl">
                                    <input type="radio" name="<%= idx %>" value="<%= index %>"  class="border-gray-300 bg-text w-5 h-5 text-text hover:cursor-pointer">
                                    <label for="answer"><%= choice %></label>
                                </div>
                            <% }) %>
                        </fieldset>
                    <% }) %>
                <% } else { %>
                    <% exam.essayQuestions.forEach((question, idx) => { %>
                        <div class="flex flex-col justify-center gap-4 border-2 bg-secondary shadow-md p-4 border-text border-solid rounded-lg">
                            <label for="question" class="text-2xl"><%= idx + 1 %>. <%= question.question %></label>
                            <input type="text" name="<%= idx %>"  class="border-2 bg-main p-2 border-text border-solid rounded-lg text-xl">
                        </div>
                    <% }) %>
                <% } %>
                <button type="submit" class="bg-black p-4 rounded-3xl w-full font-bold text-3xl text-white hover:text-gray-200">Submit!</button>
            </form>
        </div>
    </div>
    <script src="/javascripts/form-handler.js"></script>
</body>
</html>