<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body class="bg-main">
    <!-- header -->
    <%- include('partials/header'); %>
    <div
      class="flex flex-col justify-center items-center content-center gap-16 bg-main px-6 lg:px-8 py-12 w-full min-h-full"
    >
      <% if (locals.user.role === 'student') { %> 
      <h1 class="font-bold text-5xl text-gray-900 leading-9 tracking-tight">
        All Teachers
      </h1>
      <div class="flex flex-row flex-wrap justify-center items-center gap-8 w-full text-text teachers-list">
        <% locals.teachers.forEach(function(teacher){ %>
        <a href="<%= teacher.url %>" class="flex flex-col justify-between items-center gap-4 border-4 bg-secondary hover:shadow-2xl p-4 border-text border-solid rounded-lg w-96 font-bold">
          <img src="<%= teacher.avatar %>" alt="avatar" class="rounded-xl w-full"> 
          <h2 class="text-3xl"><%= teacher.fullName %></h2> 
        </a>
        <% }) %> 
      </div> 
      <% } else if(locals.user.role === 'teacher') { %>
      <div class="sm:mx-auto sm:w-full sm:max-w-sm"> 
        <h2
          class="mt-10 font-bold text-2xl text-center text-gray-900 leading-9 tracking-tight"
        >
          Create a new Exam!
        </h2>
      </div>
      <div class="sm:mx-auto mt-10 sm:w-full sm:max-w-sm">
        <form class="space-y-6 exam-form" method="POST" action="/exam">
          <div>
            <label
              for="topic"
              class="block font-medium text-gray-900 text-sm leading-6"
              >Topic</label
            >
            <div class="mt-2">
              <input
                id="topic"
                name="topic"
                type="text"
                autocomplete="topic"
                minlength="5"
                maxlength="40"
                required
                class="block border-0 bg-secondary shadow-md p-1.5 rounded-md w-full text-gray-900 sm:text-sm sm:leading-6 ring-1 ring-gray-300 ring-inset focus:ring-2 focus:ring-inset"
              />
            </div>
          </div>

          <div>
            <div class="flex justify-between items-center">
              <label
                for="questions_number"
                class="block font-medium text-gray-900 text-sm leading-6"
                >Number of Questions?</label
              >
            </div>
            <div class="mt-2">
              <input
                id="questions_number"
                name="questions_number"
                min="1"
                type="number"
                required
                class="block border-0 bg-secondary shadow-md p-1.5 rounded-md w-full text-gray-900 sm:text-sm sm:leading-6 ring-1 ring-gray-300 ring-inset focus:ring-2 focus:ring-inset"
              />
            </div>
          </div>

          <!--duration-->
          <div>
            <div class="flex justify-between items-center">
              <label
                for="duration"
                class="block font-medium text-gray-900 text-sm leading-6"
                >Duration</label
              >
            </div>
            <div class="mt-2">
              <input
                id="duration"
                name="duration"
                type="number"
                min="2"
                required
                class="block border-0 bg-secondary shadow-md p-1.5 rounded-md w-full text-gray-900 sm:text-sm sm:leading-6 ring-1 ring-gray-300 ring-inset focus:ring-2 focus:ring-inset"
              />
            </div>
          </div>

          <div class="mb-6">
            <div class="flex justify-between items-center">
              <label
                for="type"
                class="mb-2 font-medium text-gray-900 text-sm leading-6"
                >Type of The Exam?</label
              >
            </div>

            <diV class="mt-2">
              <select
                value=""
                id="type"
                name="type"
                required
                class="block border-0 bg-secondary shadow-md p-1.5 rounded-md w-full text-gray-900 sm:text-sm sm:leading-6 ring-1 ring-gray-300 ring-inset focus:ring-2 focus:ring-inset"
              >
                <option value="">--please select an exam Type--</option>
                <option value="mcq">MCQ</option>
                <option value="essay">Essay</option>
                <option value="oral">Oral</option>
              </select>
            </diV>
          </div>

          <div>
            <button
              type="submit"
              class="flex justify-center bg-gray-950 hover:bg-gray-600 shadow-sm px-3 py-1.5 rounded-md w-full font-semibold text-sm text-white leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            >
              Generate Exam!
            </button>
          </div>
        </form>

        <% if(typeof errors !== 'undefined') { %>
        <ul>
          <% errors.forEach(error => { %>
          <li class="font-bold text-red"><%= error.msg %></li>
          <% }) %>
        </ul>
        <% } %>
      </div>
      <% } else { %>
        <!----for the admin add just two buttons to get all the teachers and students-->
        <div class="flex flex-row flex-wrap justify-center items-center gap-8 w-full text-text teachers-list">
          <a href="/teachers" class="flex flex-col justify-between items-center gap-4 border-4 bg-secondary hover:shadow-2xl p-4 border-text border-solid rounded-lg w-96 font-bold">
            <h2 class="text-3xl">Teachers</h2> 
          </a>
          <a href="/students" class="flex flex-col justify-between items-center gap-4 border-4 bg-secondary hover:shadow-2xl p-4 border-text border-solid rounded-lg w-96 font-bold">
            <h2 class="text-3xl">Students</h2>
          </a>
        </div>
      <% } %>
    </div>
    <script src="/javascripts/form-handler.js"></script>
  </body>
</html>