<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
</head>

<body>
  <%- include('partials/header'); %>
  <div class="flex flex-col justify-center bg-main px-6 lg:px-8 py-12 min-h-full">
    <h2 class="mt-10 font-bold text-4xl text-center text-gray-900 leading-9 tracking-tight">Topic: <%= submition.exam.topic %></h2>
    <h2 class="mt-10 font-bold text-4xl text-center text-gray-900 leading-9 tracking-tight">Student: <%= submition.student.fullName %></h2>
    <div class="flex flex-col gap-4 p-8">
      <form class="flex flex-col justify-center gap-4" method="POST">
        <% submition.exam.essayQuestions.forEach((question, idx) => { %>
        <div class="flex flex-col justify-center gap-4 border-2 bg-secondary shadow-md p-4 border-text border-solid rounded-lg">
          <label for="question" class="text-2xl"><%= idx + 1 %>. <%= question.question %></label>
          <div class="flex flex-col gap-4 border-2 bg-main shadow-md p-4 border-text border-solid rounded-lg">
            <h4 class="text-green text-xl">The Correct Answer:</h4>
            <p class="text-2xl"><%= question.answer %></p>
          </div>
          <div class="flex flex-col gap-4 border-2 bg-main shadow-md p-4 border-text border-solid rounded-lg">
            <h4 class="text-xl"><%= submition.student.firstName %>'s Answer:</h4>
            <audio src="<%= submition.answers[idx] %>" controls class="bg-black p-4 rounded-3xl w-full font-bold text-2xl text-white hover:text-gray-200"></audio>
          </div>
          <div class="flex flex-col gap-4 p-4">
            <div class="flex flex-row items-center gap-4 border-2 bg-main p-2 border-text border-solid rounded-lg text-xl">
              <input type="radio" name="<%= idx %>" value="true" required class="border-gray-300 bg-text w-5 h-5 text-text hover:cursor-pointer">
              <label for="answer" class="font-bold text-green">Correct Answer!</label>
            </div>

            <div class="flex flex-row items-center gap-4 border-2 bg-main p-2 border-text border-solid rounded-lg text-xl">
              <input type="radio" name="<%= idx %>" value="false" required class="border-gray-300 bg-text w-5 h-5 text-text hover:cursor-pointer">
              <label for="answer" class="font-bold text-red">Wrong Answer!</label>
            </div>
          </div>
        </div>
        <% }) %>
        <button type="submit" class="bg-black p-4 rounded-3xl w-full font-bold text-3xl text-white hover:text-gray-200">Submit!</button>
      </form>
    </div>
  </div>
</body>

</html>