<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
</head>

<body class="bg-main no-scrollbars">
  <%- include('partials/header'); %>

  <div class="flex flex-col justify-center items-center content-center gap-8 bg-main px-6 lg:px-8 py-12 w-full min-h-full">
    <div class="flex flex-row flex-wrap justify-center items-center content-center gap-8 w-full teacher-info">
      <h2 class="text-4xl name">Student: <%= locals.user.fullName %> </h2>
      <img src="<%= locals.user.avatar %>" alt="avatar" class="rounded-xl w-40 h-40" />
    </div>
    <h1 class="font-bold text-5xl text-gray-900 leading-9 tracking-tight">All Submited Exams: </h1>
    <div class="flex flex-row flex-wrap justify-center items-center content-center gap-8 px-6 lg:px-8 py-12 w-full min-h-full">
      <% submitions.forEach(submition => { %>
      <div class="flex flex-col justify-center items-center content-center gap-4 border-4 bg-secondary hover:shadow-2xl px-6 lg:px-8 py-12 border-text border-solid rounded-xl w-96 min-h-full text-center hover:cursor-pointer">
          <h2 class="topic text-3xl text-center">Topic: <%= submition.exam.topic %></h2>
          <!-- <h2 class="text-2xl text-center">Teacher: <%= submition.exam.fullName %></h2> -->
          <% if(submition.score != null) { %>
          <h2 class="text-2xl text-center name">Score: <%= submition.score %> %</h2>
          <a href="<%= submition.url %>" class="flex flex-row justify-between items-center bg-black p-4 rounded-3xl w-full font-bold text-3xl text-white hover:text-gray-200">
            View My Answers!
          </a>
          <% } else { %>
          <h2 class="border-2 bg-red p-4 border-black border-solid font-bold text-2xl text-center text-white">
            Doesn't Corrected yet!
          </h2>
          <% } %>
      </div>
      <% }) %>
    </div>
  </div>
</body>
</html>
</html>